<h3>About Ben</h3>
<div>
<p class='description'>
  Benjamin Cloutier specializes in capturing images that remind people of the natural feeling of being outdoors.<br><br>
  Unlike working in a studio, outdoor photography has a different set of challenges. The images are entirely at the mercy of the weather, time of day, and the environment. The photographer can't change these things, but instead learns to adapt and patiently keep his eyes ready for the perfect moment. This is the type of photography that Ben most enjoys.<br>
  <br>
  Whever possible, he prefers to do portrait shoots outdoors as well. The photos come out more natural. Not only because nature is the best background, but because people are often more at ease when they're outdoors. <br><br>
  If you like Ben's work, and would like to hire him, or use any of the images you see here, please <a routerLink="/contact">contact him</a> for more information
</p>
</div>
