<nav id='navbar'>
  <button class='navlink' id='nav-family' routerLink="/people">People</button>
  <button class='navlink' id='nav-nature' routerLink="/nature">Nature</button>
  <button class='navlink' id='nav-architecture' routerLink="/architecture">Architecture</button>
  <button class='navlink' id='nav-objects' routerLink="/object">Objects</button>
  <button class='navlink' id='nav-other' routerLink="/other">Other Photos</button>
  <button class='navlink' id='nav-about' routerLink="/about">About Ben</button>
  <button class='navlink' id='nav-contact' routerLink="/contact">Contact</button>
</nav>
<div class="dropdown">
    <button class="dropbtn">Menu
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a routerLink="/people">People</a>
      <a routerLink="/nature">Nature</a>
      <a routerLink="/architecture">Architecture</a>
      <a routerLink="/object">Objects</a>
      <a routerLink="/other">Other Photos</a>
      <a routerLink="/about">About Ben</a>
      <a routerLink="/contact">Contact</a>
    </div>
</div>
