<nav id='navbar'>
  <button class='navlink' id='nav-family' routerLink="/people">People</button>
  <button class='navlink' id='nav-nature' routerLink="/nature">Nature</button>
  <button class='navlink' id='nav-architecture' routerLink="/architecture">Architecture</button>
  <button class='navlink' id='nav-objects' routerLink="/object">Objects</button>
  <button class='navlink' id='nav-other' routerLink="/other">Other Photos</button>
  <button class='navlink' id='nav-about' routerLink="/about">About Ben</button>
  <button class='navlink' id='nav-contact' routerLink="/contact">Contact</button>
</nav>
