<div class='app'>
  <img class='header-img' routerLink="/" src='assets/images/header.png'>
<!-- <h1 class='header' routerLink="/">Benjamin Cloutier Photography</h1> -->
<app-nav></app-nav>
</div>
<router-outlet></router-outlet>
<footer>
  <a routerLink="/login">Site Owner Login</a>
  <span class='spacer'>  |  </span>
  <span>Site Design &copy;<a  target="_blank" href='https://dianamcnulty.github.io/portfolio/'>Diana McNulty</a></span>
  <span class='spacer'>  |  </span>
  <span>All Photographs &copy;Benjamin Cloutier</span>


</footer>
