.pagination {
  font-size: 10pt;
  text-align: center;
}
.pagenum {
  border-radius: 50px;
  font-size: 15px;
  height: 40px;
  width: 40px;
}
.arrow-button {
  font-size: 15pt;
  font-weight: bold;
  height: 35px;
  width: 35px;
  padding: 0;
  margin: 15px;
  font-family: "Cormorant Unicase";
}

.disabled {
  color:#4e5259;
  background-color:#b2b1ad;
}
