<div *ngIf="auth.user">
  <div *ngIf="auth.user" class='logout'>
    <!-- <h3>Log Out</h3> -->
    <input class='button' (click)="signOut()" type="submit" value="Sign Out"/>
  </div>
<h3> Add Photos </h3>
<div class='form-container'>
  <legend>Category:
    <select [(ngModel)]="photo.category">
      <option value='People'>People</option>
      <option value='Nature'>Nature</option>
      <option value='Architecture'>Architecture</option>
      <option value='Objects'>Objects</option>
      <option value='Other'>Other</option>
    </select></legend>
  <legend>Link to Photo: <input [(ngModel)]="photo.url" type='text' placeholder='copy the url for your photo and paste it here' required=true></legend>
  <legend>Caption: <input [(ngModel)]="photo.caption" placeholder='say something about your photo'></legend>
  <input class='button' (click)="addPhoto()" type='submit' value='submit'>
</div>
<br><hr><br>
<h3>These photos are already on your site:</h3>
<div class='photo-grid'>
  <div *ngFor="let image of images" class='edit-container'>
      <img class='preview' src={{image.url}}><br>
      <!-- <a class='edit-link'>edit</a> -->
      <a class='delete-link' (click)="deletePhoto(image.id)" data-id={{image.id}}>delete</a>
  </div>
  <app-pagination
  [count]="total"
  [page]="page"
  [perPage]="limit"
  [pagesToShow]="10"
  [loading]="!images"
  (goNext)="onNext()"
  (goPrev)="onPrev()"
  (goPage)="goToPage($event)">
</app-pagination>
</div>
</div>

<div *ngIf="!auth.user" class='sizing'>
  <h3>This page is only available to the Site Owner.</h3>
    <p>If you are the site owner, please log in to see this page.</p>
</div>
<br><br>
