.preview {
  height:100px;
  width:100px;
  object-fit: cover;
}
.edit-container {

  display: inline-block;
  border: 1px solid gray;
}
.edit-link, .delete-link {
  padding: 0 5px;
  cursor: pointer;
}
.delete-link {
  float: right;
}
.sizing {
  min-height: 350px;
}
.logout {
  float: right;
}
