/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');
body {
  background-color: black;
  color: #eae8de;
  font-family: sans-serif;
}
html {
  font-family: "Trebuchet MS", helvetica, arial;
}
.intro {
  padding: 17px 50px 0 33px;
  font-size: 30px;
}
button, .navlink, .button {
  background: -webkit-linear-gradient(top, #decba4, #3E5151);
  cursor: pointer;
  border: 2px ridge #444  ;
  line-height: 1;
  text-align: center;
  outline: 0;
  padding: 10px;
}
h1 {
font-family: 'Sedgwick Ave Display', sans-serif;
font-weight: 200;
font-size: 35px;
color: #a58c56;
}
h3 {
font-family: 'Rock Salt', sans-serif;
font-weight: 200;
padding-left: 50px;
}
a {
  color:#aac1b4;
}
.feature-container {
  min-height: 420px;
}
