/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Economica');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Unicase');


body {
  background-color: black;
  color: #eae8de;
  font-family: 'Economica', sans-serif;
  font-size: 20px;
}
/*html {
  font-family: "Trebuchet MS", helvetica, arial;
}*/
.intro {
  padding: 17px 50px 0 33px;
  font-size: 30px;
}
button, .navlink, .button {
  background: -webkit-linear-gradient(top, #decba4, #3E5151);
  cursor: pointer;
  border: 2px ridge #444  ;
  line-height: 1;
  text-align: center;
  outline: 0;
  padding: 10px;
  font-family: 'Cormorant Unicase', serif;
}
h1 {
font-family: 'Rock Salt', sans-serif;
font-weight: 200;
font-size: 35px;
color: #a58c56;
}
h3 {
/*font-family: 'Rock Salt', sans-serif;*/
font-family: 'Cormorant Unicase', serif;
font-size: 25px;
/*font-weight: 200;*/
padding-left: 50px;
}
hr {
  border:#3E5151 solid 1px;
}
a {
  color:#aac1b4;
}
.feature-container {
  min-height: 420px;
}

.thumbnail {
  box-sizing: border-box;
  cursor: pointer;
}
.thumb-container {
  width: 100px;
  /*height: 450px;*/
  display: inline-block;
  float: left;
  /*overflow-y: scroll;*/
  margin: 20px;
}
.feature-container {
  margin-left: 100px;
  text-align: center;
}
.feature-box {
  width: 75%;
  margin: auto;
  padding: 25px;
  text-align: center;
  display: inline-block;
}
.feature {
  max-width: 100%;
}
@media screen and (min-width: 500px) {
  .thumbnail:hover {
    border: 1px solid gray;
    width: 130px;
  }
  .thumbnail {
    width:100px;
  }
}
@media screen and (max-width: 500px) {
  .thumb-container {
    width: 90%;
    white-space: nowrap;
    height: 50px;
    float: left;
    overflow-x: scroll;
    margin: 20px;
  }
  .thumbnail:hover {
    border: 1px solid gray;
  }
  .thumbnail {
    height:100%;
  }
  .feature-box {
    padding: 0;
  }
  .feature-container {
    margin-left: 0px;
    text-align: center;
  }
}
